<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/css/ready.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.22/fc-3.3.2/datatables.min.css"/>
</head>
<body>
<div class="wrapper">
    <div class="main-header">
        <div class="logo-header">
            <a href="{% url 'panel:index' %}" class="logo">
                Kava Panel
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <button class="topbar-toggler more"><i class="la la-ellipsis-v"></i></button>
        </div>
        <nav class="navbar navbar-header navbar-expand-lg">
            <div class="container-fluid">
                
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    <li class="nav-item dropdown hidden-caret">
                        <a class="nav-link dropdown-toggle" href="https://github.com/androjus/kava_panel" target="_blank" aria-haspopup="true" aria-expanded="true">
                        <i class="la la-github"></i>
                    </a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
    <div class="sidebar">
        <div class="scrollbar-inner sidebar-wrapper">
            <div class="user">
                <div class="photo">
                    <img src="{% static 'assets/img/profile.png' %}" alt="profile_photo">
                </div>
                <div class="info">
                    <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
								<span>
									{{ user.username }}
									<span class="caret"></span>
								</span>
                    </a>
                    <div class="clearfix"></div>
                    <div class="collapse in" id="collapseExample" aria-expanded="true">
                        <ul class="nav">
                            <li>
                                <a href="{% url 'panel:edit_profile' %}">
                                    <span class="link-collapse">Edit profile</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'panel:logout' %}">
                                    <span class="link-collapse">Log out</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item {% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                    <a href="{% url 'panel:index' %}">
                        <i class="la la-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'webs' %}active{% endif %}">
                    <a href="{% url 'panel:webs' %}">
                        <i class="la la-globe"></i>
                        <p>Webs</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="la la-database"></i>
                        <p>Database</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="la la-list"></i>
                        <p>Cron</p>
                        <span class="badge badge-count">4</span>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'system' %}active{% endif %}">
                    <a href="{% url 'panel:system' %}">
                        <i class="las la-info"></i>
                        <p>System info</p>
                    </a>
                <li class="nav-item {% if request.resolver_match.url_name == 'process' %}active{% endif %}">
                    <a href="{% url 'panel:process' %}">
                        <i class="la la-cogs"></i>
                        <p>Processes</p>
                        {% load stats %}
                        <span class="badge badge-count">{%counts_process%}</span>
                    </a>
                </li>
                <li class="nav-item {% if request.resolver_match.url_name == 'network' %}active{% endif %}">
                    <a href="{% url 'panel:network' %}">
                        <i class="la la-ethernet"></i>
                        <p>Network</p>
                        <span class="badge badge-count">{% count_connections %}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="">
                        <i class="la la-users"></i>
                        <p>Users</p>
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="main-panel">
        {% block content %}
        {% endblock %}
    </div>
</div>
<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chartist/chartist.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chartist/plugin/chartist-plugin-tooltip.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-notify/bootstrap-notify.js' %}"></script>
<script src="{% static 'assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-mapael/maps/world_countries.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/chart-circle/circles.min.js' %}"></script>
<script src="{% static 'assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/ready.min.js' %}"></script>
<script src="{% static 'assets/js/panel.js' %}"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.22/fc-3.3.2/datatables.min.js"></script>
{% block javascript %}
{% endblock %}
</body>

</html>
