{% extends "index.html" %}
{% block title %}
    Processes
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Processes</h4>
        <div class="row table-striped">
            <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table table-responsive-stack order-column" id="tableOne">
                        <thead>
                            <tr>
                                <th class="th_show">PID</th>
                                <th class="th_show">Name</th>
                                <th class="th_show">CPU%</th>
                                <th class="th_show">MEM%</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {%  for dict in List %}
                            <tr>
                                {% for value in dict.values %}
                                    {% if forloop.first %}
                                        <td scope="row">{{ value }}</td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td><button type="button" class="btn btn-danger"><i class="las la-times"></i> KILL</button></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready( function () {
    $('#tableOne').DataTable({
        paging: false,
        autoWidth: false,
        fixedColumns: true,
        columnDefs: [{ width: 50, targets: 0 }],
    });
} );
$(document).ready(function() {
$('.table-responsive-stack').each(function (i) {
   var id = $(this).attr('id');
   $(this).find(".th_show").each(function(i) {
      $('#'+id + ' td:nth-child(' + (i + 1) + ')').prepend('<span class="table-responsive-stack-thead"><b>'+$(this).text()+'<b>:</span> ');
      $('.table-responsive-stack-thead').hide();
   });  
});
$( '.table-responsive-stack' ).each(function() {
var thCount = $(this).find("th").length; 
var rowGrow = 100 / thCount + '%';
$(this).find("th, td").css('flex-basis', rowGrow);   
});
function flexTable(){
if ($(window).width() < 768) {
$(".table-responsive-stack").each(function (i) {
   $(this).find(".table-responsive-stack-thead").show();
   $(this).find('thead').hide();
});
    
} else {
$(".table-responsive-stack").each(function (i) {
   $(this).find(".table-responsive-stack-thead").hide();
   $(this).find('thead').show();
});
   } 
}      
flexTable();
window.onresize = function(event) {
 flexTable();
};

});
</script>
{% endblock %}
 
 
