{% extends "index.html" %}
{% block title %}
    Processes
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Processes</h4>
        <div class="row table-striped">
            <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">PID</th>
                                <th scope="col">Name</th>
                                <th scope="col">CPU%</th>
                                <th scope="col">MEM%</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {%  for dict in List %}
                            <tr>
                                {% for value in dict.values %}
                                    {% if forloop.first %}
                                        <td scope="row">{{ value }}</td>
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                                <td class="text-danger"><i class="las la-times"></i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}