{% extends "index.html" %}
{% block title %}
    Webs
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Webs <button class="btn btn-success pull-right">Add new website</button></h4>
        <div class="row table-striped">
            <div class="col">
            <div class="card">
                <div class="card-body">
                    <table class="table table-responsive-stack order-column" id="tableOne">
                        <thead>
                            <tr>
                                <th class="th_show">Address</th>
                                <th class="th_show">Localization</th>
                                <th class="th_show">Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        {%  for dict in List_webs %}
                            <tr>
                                {% for value in dict.values %}
                                    {% if forloop.first %}
                                        <td scope="row">{{ value }}</td>
                                    {% elif value == True or value == False %}
                                        <td>{% if value == True %}<span class="text-success">Active</span>{% else %}<span class="text-danger">Disable</span>{% endif %}</td>
                                    {% elif forloop.last %}
                                        <td class="text-center">
                                            <form method="POST" action="{% url 'panel:webs' %}">
                                                {% csrf_token %}
                                            {%if dict|get_item:"exist" == True%}
                                            <input name="active" type="hidden" value="true">
                                            <input name="path" type="hidden" value="{{ value }}">
                                            <button type="submit" class="btn btn-danger btn-xs-block">Disable</button>
                                            {% else %}
                                            <input name="active" type="hidden" value="false">
                                            <input name="path" type="hidden" value="{{ value }}">
                                            <button type="submit" class="btn btn-success btn-xs-block">Enable</button>{% endif %} <button type="button" class="btn btn-success btn-xs-block"><i class="las la-edit"></i> Edit</button> <button type="button" class="btn btn-danger btn-xs-block"><i class="las la-times"></i> Delete</button>
                                            </form>
                                        </td>    
                                    {% else %}
                                        <td>{{ value }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
$(document).ready(function() {
    $('#tableOne').DataTable({
        paging: false,
        autoWidth: false,
        fixedColumns: true,
        columnDefs: [{ width: 50, targets: 0 }],
    });
$('.table-responsive-stack').each(function (i) {
   var id = $(this).attr('id');
   $(this).find(".th_show").each(function(i) {
      $('#'+id + ' td:nth-child(' + (i + 1) + ')').prepend('<span class="table-responsive-stack-thead"><b>'+$(this).text()+'<b>:</span> ');
      $('.table-responsive-stack-thead').hide();
   });  
});
$( '.table-responsive-stack' ).each(function() {
var thCount = $(this).find("th").length; 
var rowGrow = 100 / thCount + '%';
$(this).find("th, td").css('flex-basis', rowGrow);   
});
function flexTable(){
if ($(window).width() < 768) {
$(".table-responsive-stack").each(function (i) {
   $(this).find(".table-responsive-stack-thead").show();
   $(this).find('thead').hide();
});
    
} else {
$(".table-responsive-stack").each(function (i) {
   $(this).find(".table-responsive-stack-thead").hide();
   $(this).find('thead').show();
});
   } 
}      
flexTable();
window.onresize = function(event) {
 flexTable();
};

});
</script>
{% for message in messages %}
{% if 'webs_info' in message.tags %}
<script>
	$.notify({
		icon: 'las la-check-circle',
		message: '{{message.webs_info|striptags}} '
	},{
		type: 'success',
		placement: {
			from: "top",
			align: "right"
		},
		time: 3000,
	});
</script>
{% endif %}
{% if 'web_error' in message.tags %}
<script>
	$.notify({
		icon: 'las la-exclamation-triangle',
		message: 'An error occurred'
	},{
		type: 'danger',
		placement: {
			from: "top",
			align: "right"
		},
		time: 3000,
	});
</script>
{% endif %}
{% endfor %}
{% endblock %}
 
 
