<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% block title %}{% endblock %}</title>
  {% load static %} 
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/line-awesome.min.css' %}">
	<script src="{% static 'assets/js/core/jquery.3.2.1.min.js' %}"></script>
	<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
	<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
	<script src="{% static 'assets/js/core/bootstrap-notify.js' %}"></script>
</head>
<body>
<div class="wrapper fadeInDown">
  {% block form %}{% endblock %}
</div>
</body>