{% extends "registration/base.html" %}

{% block title %}Login{% endblock %}

{% block form %}
<div id="formContent">
  <div class="fadeIn first">
<h1>Kava Panel</h1>
  </div>
  <form method="POST" action="{% url 'accounts:index' %}"> 
    {% for field in form %}
        <div class="fieldWrapper">
            {# {{ field.errors }} #} 
            {{ field }}
        </div>
    {% endfor %}
  {% csrf_token %}
    <input type="submit" class="fadeIn fourth" value="Log In">
  </form>
</div>

{% if form.errors %}
<script>
	$.notify({
		icon: 'las la-exclamation-triangle',
		message: 'Login or password not correct.'
	},{
		type: 'danger',
		placement: {
			from: "top",
			align: "right"
		},
		time: 3000,
	});
</script>>
{% endif %}

{% for message in messages %}
{% if 'logout' in message.tags %}
<script>
	$.notify({
		icon: 'las la-check-circle',
		message: 'You have successfully logged out'
	},{
		type: 'success',
		placement: {
			from: "top",
			align: "right"
		},
		time: 3000,
	});
</script>>
{% endif %}
{% endfor %}

{% endblock %}